---
import "./HomeAboutLayout.less";
import Image1 from '../../../assets/images/homepage/federico-scarionati-kGo-lrppUpU-unsplash.jpg';
import Image2 from "../../../assets/images/homepage/maxime-gilbert-LxwlUczYduM-unsplash.jpg";
import Image3 from "../../../assets/images/homepage/alexander-schimmeck-MraFXV3v7Ts-unsplash.jpg";
import Image4 from "../../../assets/images/homepage/dino-reichmuth-5Rhl-kSRydQ-unsplash.jpg";
import i18next, { t, changeLanguage } from "i18next";

---
<!-- ============================================ -->
<!--             Homepage - About Section         -->
<!-- ============================================ -->
<section id="about-section">
	<div class="container">
		<!-- Left section -->
		<div class="about-images-container">
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset={Image1.src}
				/>
				<source
					media="(min-width: 480px)"
					srcset={Image1.src}
				/>
				<img
					loading="lazy"
					decoding="async"
					src={Image1.src}
					alt="people outside"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset={Image2.src}
				/>
				<source
					media="(min-width: 480px)"
					srcset={Image2.src}
				/>
				<img
					loading="lazy"
					decoding="async"
					srcset={Image2.src}
					alt="people outside"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset={Image3.src}
				/>
				<source
					media="(min-width: 480px)"
					srcset={Image3.src}
				/>
				<img
					loading="lazy"
					decoding="async"
					src={Image3.src}
					alt="person gardening"
					width="254"
					height="262"
				/>
			</picture>
			<picture class="about-img">
				<source
					media="(max-width: 480px)"
					srcset={Image4.src}
				/>
				<source
					media="(min-width: 480px)"
					srcset={Image4.src}
				/>
				<img
					loading="lazy"
					decoding="async"
					src={Image4.src}
					alt="urban environment in green"
					width="254"
					height="262"
				/>
			</picture>
		</div>
		<!-- Right Section -->
		<div class="content">
			<span class="topper">{t("homepage:homepage.about-section.topper")}</span>
			<h2 class="section-title title">{t("homepage:homepage.about-section.title")}</h2>
			<p class="section-text text" set:html={t("homepage:homepage.about-section.text")} />
            <div class="stats-container">  
                <div class="stat-group stat-2">
                    <p class="stat-bold">5</p>
                    <p class="stat-description">{t("homepage:homepage.about-section.stat-1")}</p>
                </div>
                <div class="stat-group stat-3">
                    <p class="stat-bold">130</p>
                    <p class="stat-description">{t("homepage:homepage.about-section.stat-2")}</p>
                </div>
				<div class="stat-group stat-1">
                    <p class="stat-bold">3000</p>
                    <p class="stat-description">{t("homepage:homepage.about-section.stat-3")}</p>
                </div>
            </div>
            <a href="/about" class="solid-btn about-section-btn">{t("homepage:homepage.about-section.cta-btn-text")}</a>
		</div>
	</div>
</section>
