---
import "./ExpeditionDetailsItinerary.less";
import { Image } from "astro:assets";
import mountainImg from "../../../../assets/images/aboutHeroImg.jpg";
import ExpeditionDetailsInfoCard from "../../../../components/ExpeditionDetailsInfoCard/ExpeditionDetailsInfoCard.astro";
import SeeAllButton from "../../../../components/SeeAllButton/SeeAllButton.astro";
import SeeLessButton from "../../../../components/SeeLessButton/SeeLessButton.astro";
import mapImg from "../../../../assets/images/itinerary-map.png";
import lightbulbSVG from "../../../../assets/svg/lightbulb.svg";
import ImgCardwithOverlayAndBtn from "../../../../components/ImgCardwithOverlayAndBtn/ImgCardwithOverlayAndBtn.astro";
const {frontmatter} = Astro.props;
---
<section id="itinerary" class="exped-details-section">
	<div class="container">
		<h2 class="exped-details-section-title">Itinerary</h2>
		<Image 
			class="itinerary-map-img" 
			src={mapImg} 
			alt="Itinerary Map" 
			width={1000} 
			height={1000} 
		/>
		<ExpeditionDetailsInfoCard
			iconSVG={lightbulbSVG}
			iconPosition="bottom"
			title="Our Philosophy"
			text="This tried and tested itinerary is informed by decades of mountaineering experience. As with all adventurous activities of this type however, circumstances may arise where we are forced to make alterations, possibly at short notice.<br /><br />While making every effort to adhere to this published schedule, we kindly ask for your patience if the weather, or other naturally occurring circumstances, intervene."
		/>
		<div class="exped-details-itinerary-steps-container">
			{
				frontmatter.itinerary.map(step => 
					<div class="exped-details-itinerary-step">
						<p class="itinerary-number topper">{step.stepNumber}</p>
						<p class="itinerary-name">{step.stepName}</p>
						<p class="text" set:html={step.stepDescription}></p>
					</div>	
				)
			}
			<SeeAllButton seeAllText="View Complete Itinerary" type="itinerary"/>
			<div id="extra-itinerary-container" class="exped-details-itinerary-steps-container">
			{
				frontmatter.extraItinerary.map(step => 
					<div class="exped-details-itinerary-step">
						<p class="itinerary-number topper">{step.stepNumber}</p>
						<p class="itinerary-name">{step.stepName}</p>
						<p class="text" set:html={step.stepDescription}></p>
					</div>	
				)
			}
			</div>
			<SeeLessButton seeLessText="View Less" type="itinerary"/>
		</div>
		<ImgCardwithOverlayAndBtn url="/about/#enquire" cardClass="enquire-img" title="Sound Exciting?" imgSrc={mountainImg}/>
	</div>
</section>
